@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
	--color-bg: var(--bg);
	--color-surface: var(--surface);
	--color-text: var(--text);
	--color-primary: var(--primary);
	--color-accent: var(--accent);
	--color-muted: var(--muted);
	--color-success: var(--success);
	--color-error: var(--error);
}

:root {
	/* also light theme */
	--bg: oklch(0.92 0.018 75);
	--surface: oklch(0.88 0.022 75);
	--text: oklch(0.2 0.02 40);
	--muted: oklch(0.5 0.025 60);
	--primary: oklch(0.55 0.17 25);
	--accent: oklch(0.6 0.1 200);
	--success: oklch(0.55 0.13 145);
	--error: oklch(0.55 0.2 15);

	--fancy-tint: white;
	--fancy-tint-amount: 75%;
	--fancy-highlight: white;
	--fancy-highlight-amount: 90%;
	--fancy-shadow: white;
	--fancy-shadow-amount: 60%;

	--glow-color: color-mix(in oklch, var(--primary), transparent 70%);

	--dot-mix: black;
	--dot-mix-amount: 3%;

	--fancy-deep-tint: white;
	--fancy-deep-amount: 82%;
}

[data-theme='default-dark'] {
	--bg: oklch(0.17 0.01 290);
	--surface: oklch(0.23 0.015 290);
	--text: oklch(0.92 0.01 80);
	--muted: oklch(0.55 0.02 290);
	--primary: oklch(0.7 0.13 295);
	--accent: oklch(0.74 0.13 30);
	--success: oklch(0.7 0.1 150);
	--error: oklch(0.65 0.14 15);

	--fancy-tint: black;
	--fancy-tint-amount: 64%;
	--fancy-highlight: black;
	--fancy-highlight-amount: 17%;
	--fancy-shadow: black;
	--fancy-shadow-amount: 73%;

	--glow-color: var(--primary);

	--dot-mix: white;
	--dot-mix-amount: 3%;

	--fancy-deep-tint: black;
	--fancy-deep-amount: 52%;
}

[data-theme='dark-green'] {
	--bg: oklch(20.202% 0.00367 165.002);
	--surface: oklch(25.095% 0.01369 163.735);
	--text: oklch(0.92 0.01 80);
	--muted: oklch(0.55 0.02 290);
	--primary: oklch(54.309% 0.14267 152.083);
	--accent: oklch(74.627% 0.14959 144.592);
	--success: oklch(0.7 0.1 150);
	--error: oklch(0.65 0.14 15);

	--fancy-tint: black;
	--fancy-tint-amount: 64%;
	--fancy-highlight: black;
	--fancy-highlight-amount: 17%;
	--fancy-shadow: black;
	--fancy-shadow-amount: 73%;

	--glow-color: var(--primary);

	--dot-mix: white;
	--dot-mix-amount: 3%;

	--fancy-deep-tint: black;
	--fancy-deep-amount: 52%;
}
